.post {
	/* Gallery */
	&-gallery {
		margin-bottom: 0;

		.entry-content & {
			margin-top: 10px;
		}
		&__image {
			display: block;
			margin: auto;
		}
		.swiper-button-next,
		.swiper-button-prev {
			top: 50%;
			margin-top: -17px;
		}
		.swiper-button-prev {
			left: 30px;
		}
		.swiper-button-next {
			right: 30px;
		}
		.material-icons,
		.fa {
			font-size: 18px;
		}
		&__slide {
			&.swiper-slide:hover {
				&:hover {
					background-color: transparent;
				}
			}
		}
		&__caption {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 15px;
			color: #fff;
			background: rgba(0,0,0,.5);
		}
		&__link {
			display: block;
		}
	}
	/* Link */
	&-format-link {
		display: inline-block;
		margin: 10px 0;
		text-decoration: underline;
		font-size: 20px;
		font-weight: 700;
	}
	&-thumbnail {
		.has-thumb & {
			position: relative;
		}
		&__format-link {
			.has-thumb & {
				position: relative;
				text-align: center;

			}
		}
	}
	/* Quote */
	&-format-quote {
		background-color: transparent;
	}
	/* Wrapper for non-image featured content */
	&-featured-content {
		margin-bottom: 1em;

		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
		.format-video & {
			background: none;
		}
		.post__cats {
			padding: 1em 0 0 1em;

			@include media-breakpoint-up(lg) {
				padding-top: 2em;
			}
			.format-video & {
				position: absolute;
				top: 0;
				left: 0;
				margin: 10px;

				@include media-breakpoint-up(lg) {
					margin: 30px;
				}
				&:first-child {
					position: static;
				}
			}
		}
	}
	&.format-status {
		.post__cats {
			padding: 0 0 10px;
		}
	}
}

/* Aside */
.format {
	&-aside {
		.entry-title {
			.blog &,
			.archive & {
				display: none;
			}
		}
	}
}




body:not(.page):not(.single) {
	$blog__pad: 70px;
	.format-status,
	.format-quote,
	.format-link,
	.format-audio {
		.post__cats {
			position: absolute;
			top: 30px;
		}
		.entry-header {
			margin-left: -$blog__pad;
			margin-right: -$blog__pad;
			padding: 100px 70px 100px;
		}
	}

	&.blog-grid-2-cols,
	&.blog-grid-3-cols,
	&.blog-masonry-2-cols,
	&.blog-masonry-3-cols {
			.format-status,
			.format-quote,
			.format-link,
			.format-audio {
				.entry-header {
					$blog__pad: 10px;
					margin-left: -$blog__pad;
					margin-right: -$blog__pad;
					padding-left: $blog__pad;
					padding-right: $blog__pad;

					@include media-breakpoint-up(xl) {
						$blog__pad: 30px;
						margin-left: -$blog__pad;
						margin-right: -$blog__pad;
						padding-left: $blog__pad;
						padding-right: $blog__pad;
					}
				}
				.post-format-link {
					font-size: 18px;
				}
			}
	}
}



/* body:not(.page):not(.single) {
	.format-video {
		.post__cats {
			position: absolute;
			top: 70px;
		}
		.post-content-all {
			position: relative;
			background: #fff;
			padding: 22px 30px 0;
			margin-top: -3.75em;
		}
	}
} */

.format-status {
	.entry-header {
		text-align: center;
		.post__cats {
			text-align: left;
		}
	}
	.embed-wrapper {
		max-width: 100%;
		display: inline-block;
		overflow: hidden;
	}
}
.mejs-audio {
	margin-bottom: 10px;
}
.format-audio.full {
	.post-content-all {
		.entry-content {
			margin-top: 0;
		}
		p:first-child,
		.mejs-offscreen,
		.mejs-container {
			display: none;
		}
	}
}