.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.card-columns {
	padding-top: 3em;
}

/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
.hentry {
	position: relative;
	margin-top: 3em;

	body:not(.page):not(.single) & {
		@include media-breakpoint-up(lg) {
			padding-left: 70px;
			padding-right: 70px;

			.post-thumbnail {
				margin-left: -70px;
				margin-right: -70px;
			}

			&.has-post-thumbnail .post-content-all {
				position: relative;
				background: #fff;
				padding: 22px 30px 40px;
				margin-top: -5.25em;
			}
		}
	}


	@include card;
	&:last-child {
		.posts-list & {
			margin-bottom: 3em;
		}
	}
	.card-columns & {
		margin-top: 0;
		margin-bottom: 3em;
	}
	&.page {
		margin-bottom: 1em;

		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
	}
}


body:not(.page):not(.single) {
	.posts-list--grid-2-cols,
	.posts-list--grid-3-cols,
	.blog-masonry-2-cols,
	.blog-masonry-3-cols {
		.hentry {
			padding-left: 30px;
			padding-right: 30px;

			.post-thumbnail {
				margin-left: -30px;
				margin-right: -30px;
			}
		}
	}
}

/*--------------------------------------------------------------
### Entry (header, content, footer)
--------------------------------------------------------------*/
.entry {
	&-title {
		font-size: 20px;
		&:first-child {
			.entry-header & {
				margin-top: 0;
			}
		}
		.posts-list--default & {
			@include media-breakpoint-up(lg) {
				font-size: 28px;
				line-height: 1.6;
			}
		}
	}
	&-meta {
		font-size: 13px;
		font-style: italic;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		.entry-summary + &,
		.entry-content + & {
			margin-top: 1em;
		}
	}
	&-summary,
	&-content {
		.posts-list & {
			display: none;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}
		.post-list__item & {
			margin-top: 0;
			p {
				margin: 1em 0 0;
			}
		}
	}
	&-footer {
		&:before,
		&:after {
			display: none;
		}
		position: relative;
		margin-top: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btn {
			order: -1;
		}
	}
}

/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
.post {
	&-thumbnail {
		&__link {
			&.post-thumbnail--small {
				display: block;
				margin-bottom: 15px;
				text-align: center;

				@include media-breakpoint-up(lg) {
					float: left;
					margin-right: 30px;
					text-align: left;
				}
			}
		}
		&__img {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			.entry-header + .post-thumbnail > & {
				margin-top: 25px;
			}
		}
		&--fullwidth {
			.posts-list & {
				display: block;
				margin-bottom: 1em;

				@include media-breakpoint-up(lg) {
					margin-bottom: 1.5em;
				}
			}
		}
	}
	&__cats {
		a {
			transition: .4s all ease;
			font-size: 14px;
			line-height: 32px;
			display: inline-block;
			margin: 0 0 3px 0;
			padding: 0 8px;
			@include media-breakpoint-up(lg) {
				padding: 0 15px;
			}
			vertical-align: top;
			text-decoration: none;
		}
		.post-thumbnail--fullwidth + & {
			.has-post-thumbnail & {
				position: absolute;
				z-index: 99;
				top: 10px;
				left: 10px;

				@include media-breakpoint-up(lg) {
					top: 70px;
					left: 70px;
				}
			}
		}
		.post-format-wrap & {
			position: absolute;
			z-index: 99;
			top: 10px;
			left: 10px;

			@include media-breakpoint-up(lg) {
				top: 30px;
				left: 30px;
			}
		}
	}
	&__author,
	&__date,
	&__comments,
	&__tags {
		.material-icons,
		.fa {
			font-size: 16px;
			margin-right: 10px;
			vertical-align: initial;
			.invert & {
				color: inherit;
			}
		}
		a {
			text-decoration: none;
		}
	}
	&__author,
	&__date,
	&__comments {
		margin-right: 15px;
		.single & {
			margin-right: 0;
			margin-left: 15px;
		}
	}
	&__tags {
		font-size: 14px;
		font-style: normal;
		margin-top: -10px;
		a {
			display: inline-block;
			padding: 10px;
			background: #000;
			margin-top: 10px;
			margin-left: 7px;
		}
		.single-post & {
			margin-top: 0;

			@include media-breakpoint-up(sm) {
				float: left;
			}
		}
	}
	&ed-by__author {
		&:hover {
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
### Read More button
--------------------------------------------------------------*/
.btn {
	.posts-list__item & {
		padding: $button__indents;
		&__text {
			// display: none;
		}
		&__icon,
		.material-icons,
		.fa {
			line-height: 46px;
			width: 46px;
			height: 46px;
			color: inherit;
			display: none;
		}
	}
	.posts-list__item & {
		.posts-list--default:not(.two-sidebars) & {
			@include media-breakpoint-up(sm) {
				padding: $button__indents;
			}
			&__text {
				@include media-breakpoint-up(sm) {
					display: inline-block
				}
			}
			&__icon,
			.material-icons,
			.fa {
				@include media-breakpoint-up(sm) {
					display: none;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
@import "sticky";