.sticky {
	display: block;
	&__label {
		line-height: 70px;
		display: inline-block;
		float: right;
		padding: 0;
		text-align: center;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 70px 70px 0;
		border-color: transparent #000 transparent transparent;
		.material-icons,
		.fa {
			font-size: 16px;
			line-height: 43px;
			margin-left: 43px;
			display: block;
			text-align: center;
			.posts-list & {
				font-size: 16px;
				color: inherit;
			}
		}
		.has-post-thumbnail & {
			position: absolute;
			z-index: 99;
			top: 0;
			right: 0;
			float: none;

		}
	}

	.entry-title {
		.posts-list--grid-2-cols &,
		.posts-list--grid-3-cols & {
			@include media-breakpoint-up(lg) {
				font-size: 16px;
			}
		}
	}
	.post-thumbnail__img {
		width: 100%;
	}
}