.widget {
	&-title {
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 0.7em 0;

		@include media-breakpoint-up(lg) {
			font-size: 20px;
		}
	}
	& + .widget {
		margin-top: 1em;

		@include media-breakpoint-up(md) {
			margin-top: 2em;
		}
	}
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		margin-top: 1.5em;

		@include media-breakpoint-up(md) {
			margin-top: 4.1em;
		}
	}
	&:first-child {
		.widget-area & {
			margin-top: 74px;
		}
	}
	&:last-child {
		.widget-area & {
			margin-bottom: 1em;

			@include media-breakpoint-up(md) {
				margin-bottom: 2em;
			}
		}
	}
	select {
		max-width: 100%;
	}
}