.widget-subscribe {
  background: $regular_accent_color_9;
}
.subscribe-block,
.subscribe-block__input {
  color: $regular_h3_color;
}
.subscribe-block__input:placeholder,
.subscribe-block__input {
  color: $regular_h3_color;
  font-weight: 400;
}
.subscribe-block__submit {
  color: $regular_accent_color_4;
}

::-webkit-input-placeholder {color: $regular_h3_color;}
::-moz-placeholder          {color: $regular_h3_color;}/* Firefox 19+ */
:-moz-placeholder           {color: $regular_h3_color;}/* Firefox 18- */
:-ms-input-placeholder      {color: $regular_h3_color;}