/* #Widgets (defaults) */
.widget:not(.widget-subscribe) .widget-title {
	color: $regular_h5_color;
	letter-spacing: 0;
}
.widget li {
	color: $regular_link_color;
}
.invert .widget li {
	color: $invert_link_color;
}
.invert .widget select {
	color: $regular_text_color;
}

/* #Widget Calendar */
.widget_calendar caption {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
}
.widget_calendar th {
	color: $regular_accent_color_1;
}
.invert .widget_calendar caption {
	background-color: $invert_accent_color_2;
}
.invert .widget_calendar th {
	color: $invert_accent_color_2;
}

/* #Widget Tag Cloud */
.invert .tagcloud a:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

/* #Widget Recent Posts */
.widget_recent_entries .post-date {
	color: $regular_text_color;
}
.invert .widget_recent_entries .post-date {
	color: @darken( $invert_text_color, 10% );
}
