.post {
	&-author {
		&-bio {
			margin: 2em 0;
			@include media-breakpoint-up(lg) {
				margin: 2em -0px 3.4em;
			}
		}
		&__holder {
			padding: 1em 1em 2em;

			@include media-breakpoint-up(lg) {
				padding: 2em 3.9em 2.8em;
			}
		}
		&__avatar {
			float: left;
			margin: 0 1em 1em 0;

			@include media-breakpoint-up(lg) {
				margin: 0 2em 1em 0;
			}
			.avatar {
				width: 70px;
				vertical-align: top;
				border-radius: 50%;

				@include media-breakpoint-up(lg) {
					width: auto;
				}
			}
		}
		&__title {
			@include media-breakpoint-up(lg) {
				margin: 21px 0 24px;
			}
		}

		&__title2 {
			@include media-breakpoint-up(lg) {
				margin: 40px 0 9px;
			}
		}
	}
}