.comments {
	&-area {
		position: relative;
		margin-bottom: 1em;
		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
	}
	&-title {
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			line-height: 1.4;
			margin-bottom: 0.7em;
		}
	}
}

.comment {
	&-reply-title {
	}
	&-list {
		margin: 0;
		padding: 0 0 20px;
		list-style: none;
		.children {
			margin-top: 15px;
			margin-left: 0;
			padding-left: 10px;
			list-style: none;

			@include media-breakpoint-up(lg) {
				padding-left: 30px;
			}
		}
		> .comment,
		> .ping {
			margin-bottom: 10px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 32px;
			}
			padding-right: 0;
			padding-left: 0;
			background-color: $color__background-input;
		}
	}
	&-content-all {
		margin-top: 10px;
		overflow: hidden;
	}
	&-content {
		a {
			word-wrap: break-word;
		}
	}
	&-body {

		&__holder {
			position: relative;
		}
		.avatar {
			float: left;
			width: 40px;
			margin: 0 15px 10px 0;

			@include media-breakpoint-up(lg) {
				width: auto;
				margin: 6px 30px 15px 0;
			}
		}
		.fn {
			margin-right: 10px;

			@include media-breakpoint-up(lg) {
				margin-right: 25px;
			}
		}
		.reply {
			z-index: 9;
			transition: all 0.25s ease;
			margin-top: -4px;
			padding-left: 4px;
			&:hover {
				color: #000;
			}
		}
	}
	&-reply-link {
		font-size: 13px;
		.material-icons {
			font-size: inherit;
			font-size: 16px;
			margin-right: 10px;
			line-height: 20px;
		}
	}
	&-date {
		float: right;
		display: inline-block;
		font-size: 13px;
		line-height: 20px;
		&:before {
			margin-right: 8px;
			content: '\f017';

			@include font-awesome-icon();
			@include media-breakpoint-up(lg) {
			font-size: 16px;
			margin-right: 10px;
			line-height: 20px;
			}
		}
		&__time {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.bypostauthor {
	display: block;
}