.share-btns {
	&__list {
		.hentry & {
			float: left;
		}
		.single-post & {
			float: right;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;

		& + .share-btns__item {
			margin-left: 10px;
			@include media-breakpoint-up(lg) {
				margin-left: 30px;
			}
		}
	}
	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		opacity: 1;

		@include font-size(1);
		font-size: 18px;
		&:hover {
			opacity: .3;
		}
	}

	&__show-icon {
		display: none;
		.material-icons {
			font-size: 18px;
		}
	}

}

.posts-list--grid-2-cols,
.posts-list--grid-3-cols,
.blog-masonry-2-cols,
.blog-masonry-3-cols {
	.share-btns-main {
		order: 2;
		position: relative;
		display: inline-block;

		.share-btns__show-icon {
			display: inline-block;
			cursor: pointer;
		}

		.share-btns__list {
			position: absolute;
			top: -10px;
			right: -100%;
			margin-right: 30px;
			width: 140px;
			@include media-breakpoint-up(lg) {
				width: 230px;
			}
			transition: .4s all ease;
			opacity: 0;
			padding: 10px;
			padding-right: 0;
			visibility: hidden;
		}

		&.show-share-list {
			.share-btns__list {
				opacity: 1;
				visibility: visible;
			}

			& + .btn {
				opacity: 0;
				transition: .3s all ease;
				pointer-events: none;
			}
		}
	}
}