.share-btns {
	&__list {
		.hentry & {
			float: left;
		}
		.single-post & {
			float: right;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;

		& + .share-btns__item {
			margin-left: 10px;
			@include media-breakpoint-up(lg) {
				margin-left: 30px;
			}
		}
	}
	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		opacity: 1;

		@include font-size(1);
		font-size: 18px;
		&:hover {
			opacity: .3;
		}
	}

	&__show-icon {
		display: none;
		.material-icons {
			font-size: 18px;
		}
	}

}


.blog77 {
	.share-btns-main {
		order: 2;
		position: relative;
		display: inline-block;

		.share-btns__show-icon {
			display: inline-block;
		}

		.share-btns__list {
			position: absolute;
			top: 0;
			right: -100%;
			width: 230px;
			transition: .4s all ease;
			opacity: 0;
		}

		&.show-share-list {
			.share-btns__list {
				opacity: 1;
			}
		}
	}
}