$color__background-screen: #f1f1f1;
$color__background-hr: #e9e2ca;
$color__background-input: #fff;
$color__background-pre: #eee;

$color__text-screen: #21759b;
$color__text-input: #666;

$color__border: #ebebeb;

$color__border-button: #e9e2ca;
$color__border-input: #e9e2ca;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;
$color__border-pre: darken( $color__background-pre, 10% );

$color__not-valid: #fe5c7a;
$color__valid: #398f14;